.splash {
    background: rgb(107,0,234);
    background: linear-gradient(36deg, rgba(255,238,3,1) 0%, rgba(231,231,231,1) 50%, rgba(107,0,234,1) 100%);
    /* margin-bottom: 18em; */
    padding-bottom: 18em;
    border: solid rgb(107,0,234);
}