.loginh1 {
    font-family: 'Creepster', cursive;
    -webkit-text-stroke: .03em rgb(255, 238, 3);
    font-size: 4em;
}

.login {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 1.3em;
    color: rgb(255, 238, 3);
    /* -webkit-text-stroke: .001rem rgb(37, 37, 37); */
}

.logBtn {
    background-color: rgb(255, 238, 3);
    color: rgb(34, 34, 34);
    font-weight: bold;
}

